*{
	margin: 0;
	padding: 0;
	list-style: none;
}
body {
	font-family: 'Poppins', sans-serif;
}
#conteinerGrids {
	display: grid;
	grid-template-areas: 
	"header"
	"principal"
	"footer"
	;
}
#header {
	grid-area: header;
	background-color: orange;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	justify-content: space-between;
	height: 100px;
	width: 100%;
	z-index: 100;
	position: fixed;
	@media all and (max-width: 720px){
		flex-wrap: nowrap;
		overflow: visible;
	}
		img{
			max-height: 100%;
			max-width: 50%;
		}
		li{
			border: inset 2px orange;
			padding: 20px;
			margin: 10px;
			text-decoration: none;
			font-weight: bold;
		}
}


.transicion {
	color: blue;
		&:hover {
			transform: translate(2px, 5px);
			transition: all 0.5s;
		}
}

/*eventos------------------------*/
.fila {
	display: flex;
	flex-wrap: wrap;
	position: center;
		div {
			text-align: center;
			min-height: 100px;
		}
		a {
			text-decoration: none;
			border: solid 3px orange;
			margin-left: 100px;
			position: relative;
			bottom: 10px;
			color: orange;
		}
}
/*map------------------------*/

$fuentes:(
	light: 40px,
	medium: 80px,
	big: 100px,
	);
/*map------------------------*/


.principal__1 {
	padding: 80px;
	text-align: center;
	background-color: #BEBEBE;
	padding-bottom: 70px;
	padding-top: 70;
}

@mixin letra{
	font-style: italic;
}

.sass{
	font-size:80px;
	color:green;
	@include letra;
}

.sass1{
	@extend .sass;
	color: black;
	font-size: map-get($fuentes, big);
}
.sass2{
	@extend .sass;
	font-style:roboto;
	color: red;
	font-size: map-get($fuentes, light);
}
